main .first-section-about {
    color: #fff;
    background-image: url("../images/coding_background.jpg");
    padding: 5px 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
main .first-section-about h1 {
    font-size: 40px;
    padding: 15px 0;
}

@media only screen and (max-width: 800px) {
    main .first-section-about h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) {
    main .first-section-about h1 {
        font-size: 25px;
    }
}