main .first-section-services {
    color: #fff;
    background-image: url("../images/coding_background.jpg");
    padding: 5px 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

main .first-section-services h1 {
    padding: 15px 0;
    font-size: 40px;
}

@media only screen and (max-width: 800px) {
    main .first-section-services h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 650px) {
    main .first-section-services h1 {
        font-size: 25px;
    }
}

main .first-section-services .row .card {
    background-color:  rgba(214, 224, 243, 0.8);
    border: 1px solid red;
}

main .first-section-services .row .card:hover {
    background-color: rgba(214, 224, 243, 0.5);
    padding: 20px;
}

main .first-section-services .row {
    display: flex;
}

main .first-section-services .coloumn {
    flex: 50%;
    margin: 15px; 
}

@media only screen and (max-width: 760px) {
    main .first-section-services .row {
        display: block;
    }
    main .first-section-services .coloumn {
        flex: 100%;
    }
    main .first-section-services .row .card:hover {
        background-color: rgba(214, 224, 243, 0.5);
        padding: 0;
    }
}